body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#currentLanguage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parentAlienImages{
  display: flex;
  justify-content: center;
  align-items: center;
}

.alienImages {
  border: 10px solid black;
  width: 250px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.input-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-form label {
  display: block;
  margin-bottom: 10px;
}

.input-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

.input-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.output-box {
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.output-content {
  font-size: 16px;
}

